vrf definition {{ vrf.name }}
 rd {{ vrf.rd }}
 !
 address-family ipv4
 exit-address-family
!
interface Loopback{{ loopback.name }}
 vrf forwarding {{ vrf.name }}
 ip address {{ loopback.ip }} {{ loopback.subnet_mask }}
!
interface {{ interface.name }}.{{ interface.dot1q_tag }}
 encapsulation dot1Q {{ interface.dot1q_tag }}
 vrf forwarding {{ vrf.name }}
 ip address {{ interface.ip }} {{ interface.subnet_mask }}
!
router bgp {{ bgp.local_asn }}
 address-family ipv4 vrf {{ vrf.name }}
  redistribute connected
  neighbor {{ bgp.peer_ip }} remote-as {{ bgp.remote_asn }}
  neighbor {{ bgp.peer_ip }} activate
 exit-address-family