Building configuration...
!! IOS XR Configuration 7.6.1
!! Last configuration change at Tue Sep 26 03:16:16 2023 by admin
!
hostname P-RR
domain lookup disable
username admin
 group root-lr
 group cisco-support
 secret 10 $6$YWH2N/s2FKFY3N/.$uiCygz.r8ws6eBmRX.hGyEW7VQ7okF3yfoKrDHnpGMjlJ6BSG.s8UcJx80qeEHgcarsl3b103ZZPRiC75dK/l/
!
line console
 exec-timeout 0 0
!
call-home
 service active
 contact smart-licensing
 profile CiscoTAC-1
  active
  destination transport-method email disable
  destination transport-method http
 !
!
interface Loopback0
 ipv4 address 2.2.2.2 255.255.255.255
!
interface MgmtEth0/RP0/CPU0/0
 ipv4 address 172.16.6.200 255.255.255.0
!
interface GigabitEthernet0/0/0/0
 ipv4 address 10.1.2.2 255.255.255.0
!
interface GigabitEthernet0/0/0/1
 ipv4 address 10.2.3.2 255.255.255.0
!
interface GigabitEthernet0/0/0/2
 shutdown
!
interface GigabitEthernet0/0/0/3
 shutdown
!
interface preconfigure GigabitEthernet0/0/0/4
 shutdown
!
interface preconfigure GigabitEthernet0/0/0/5
 shutdown
!
interface preconfigure GigabitEthernet0/0/0/6
 shutdown
!
router static
 address-family ipv4 unicast
  172.16.1.0/24 172.16.6.1
 !
!
router ospf 100
 area 0
  network point-to-point
  interface Loopback0
  !
  interface GigabitEthernet0/0/0/0
  !
  interface GigabitEthernet0/0/0/1
  !
 !
!
mpls ldp
 log
  neighbor
 !
 router-id 2.2.2.2
 interface GigabitEthernet0/0/0/0
 !
 interface GigabitEthernet0/0/0/1
 !
!
ssh server v2
end